<!DOCTYPE html>
<html>
<head>
<style>
.myRegister {
  text-align: center;
  background-color: tomato;
  color: white;
  padding: 10px;
}
</style>

<h1 class = "myRegister">Register</h1>
<form>
<div class="form-group">
  First name:<br>
  <input class="form-control" type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname"><br>
  Email:<br>
  <input type="text" name="email"><br>
  Address:<br>
  <input type="text" name="address"><br>
  Telephone:<br>
  <input type="text" name="telephone"><br><br>
  <input type="submit" value="Submit">
  </div>
</form>
</head>
</html>

